@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&display=swap');

@font-face {
  font-family: Diatype;
  src: url(../fonts/ABCDiatype-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: Diatype;
  src: url(../fonts/ABCDiatype-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: Diatype;
  src: url(../fonts/ABCDiatype-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: DSemi;
  src: url(../fonts/DSemi-Mono/ABCDiatypeSemi-Mono-Regular.woff2);
  font-weight: 400;
}

.logo-text {
  background: -webkit-linear-gradient(30deg, rgba(153,69,255,1) 0%, rgba(20,241,149,1) 100%);
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
